<h1>All Tools</h1>

<% @tools.each do |tool| %>
  <p><%= link_to(tool.name, tool) %> (<%= tool.use %>)</p>
  <%= link_to "edit", edit_tool_path(tool) %>
  <%= link_to "delete", tool_path(tool), method: :delete %>
<% end %>

<%= link_to "New tool", new_tool_path %>